{{define "content"}}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Confirmation</h5>
                <p>Thanks for registering
                    at NFARL Field Day 2022!<br>
                    Please press the button to return to the registration page
                </p>
                <a class="btn btn-primary" href="/new" role="button">Return</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>

</div>
{{end}}
