{{define "content"}}
<h1>List of Field Day visitors</h1>


<table class="table">
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Callsign</th>
        <th>First time</th>
        <th>Youth</th>
        <th>NFARL member</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.FirstName}}</td>
        <td>{{.LastName}}</td>
        <td>{{.Callsign}}</td>
        <td>{{.Firsttime}}</td>
        <td>{{.Youth}}</td>
        <td>{{.Nfarl}}</td>
    </tr>
    {{end}}
</table>
{{end}}