{{define "content"}}
<h1 class="text-2xl font-bold mb-4">List of Field Day visitors</h1>

<div class="overflow-x-auto">
<table class="min-w-full border text-sm">
    <thead>
    <tr class="bg-gray-100">
        <th class="py-2 px-3 border">#</th>
        <th class="py-2 px-3 border">First Name</th>
        <th class="py-2 px-3 border">Last Name</th>
        <th class="py-2 px-3 border">Callsign</th>
        <th class="py-2 px-3 border">First time</th>
        <th class="py-2 px-3 border">Youth</th>
        <th class="py-2 px-3 border">NFARL member</th>
    </tr>
    </thead>
    <tbody>
    {{range .Visitors}}
    <tr class="even:bg-gray-50">
        <td class="py-1 px-2 border">{{.ID}}</td>
        <td class="py-1 px-2 border">{{.FirstName}}</td>
        <td class="py-1 px-2 border">{{.LastName}}</td>
        <td class="py-1 px-2 border">{{.Callsign}}</td>
        <td class="py-1 px-2 border">{{.Firsttime}}</td>
        <td class="py-1 px-2 border">{{.Youth}}</td>
        <td class="py-1 px-2 border">{{.Nfarl}}</td>
    </tr>
    {{end}}
    </tbody>
</table>
</div>
{{end}}