{{define "content"}}
<h2>{{.}}</h2>
<div class="row">
    <div class="col-md-9">
        <h4>Field Day Map</h4>
        <img src="/static/NFARL_FD_2021.png" class="img-fluid img-thumbnail" alt="Field Day Map 2021">
    </div>
    <div class="col-md-3">
        <h4>New visitor</h4>
        {{template "signupForm"}}
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <h4>Morse Code (CW) Station</h4>
        <p>This station is located at the North-East corner of the parking lot. The station is working exclusively using
            Morse Code mode (a.k.a. CW). You can listen to the exchange, but please don't disturb the operators.
            CW Station captain is Carl WB4ABY. Please contact him if you have any questions.</p>

        <h4>Phone Station (SSB)</h4>
        <p>
            This station is located in Pavilion outside the South-West corner of the soccer field. It mostly uses Phone
            mode (a.k.a. SSB or single-side band). Check the whiteboard at the station to see who is acting as the
            Control Station operator when you stop by.
        </p>

        <h4>Swing Station</h4>
        <p>This station is located at the North-East corner of the parking lot. It uses all modes: Phone, CW, Digital
            (FT8).</p>
    </div>
    <div class="col-md-4">
        <h4>Satellite Station</h4>
        <p>This station is located at the West side of the middle of the parking lot. It uses Amateur Radio satellites
            for contacts. You can watch the map and see when the next satellite will pass our location.
            Station captains are Lori K4UPI and Daryl K4RGK. Please contact them if you have any questions.</p>

        <h4>Free VHF Station</h4>
        <p>This station is located at the Pavilion next to the Phone Station (SSB). It uses the VHF bands, including
            &quot;the magic band&quot; i.e., the 6-meter band, and the 2-meter band. If propagation is good this band
            can
            bring great surprises. Check the whiteboard to see who is acting as the Control Station operator when
            you stop by.</p>
    </div>
    <div class="col-md-4">
        <h4>GOTA (Get On The Air) Station</h4>
        <p>The GOTA station is located behind the Main picnic pavilion, on the East side of the upper soccer field.
            GOTA stations may operate on any Field Day band, HF or VHF, but is limited to one GOTA station
            transmitted signal at any time. The GOTA station may be operated by any person licensed since the
            previous year's Field Day, regardless of license class. It may also be operated by a generally inactive
            licensee. Non-licensed persons may participate under the direct supervision of an appropriate control
            operator. Jim N4SEC, Terry W4YBV, and Fred W4FRA are managing the GOTA station. Please feel free to
            direct your questions to one of them or the Control Operator on duty.</p>
    </div>
</div>
{{end}}

{{define "signupForm"}}
<form action="new" method="POST">
    <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" name="firstname" class="form-control" id="firstname" placeholder="First name">
    </div>
    <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last name">
    </div>
    <div class="form-group">
        <label for="callsign">Call sign (optional)</label>
        <input type="text" name="callsign" class="form-control" id="callsign" placeholder="Call sign">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" name="nfarl" class="form-check-input" id="nfarl">
        <label class="form-check-label" for="nfarl">NFARL member?</label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" name="contactme" class="form-check-input" id="contactme">
        <label class="form-check-label" for="contactme">May we contact you?</label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" name="youth" class="form-check-input" id="youth">
        <label class="form-check-label" for="youth">Younger than 18?</label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" name="firsttime" class="form-check-input" id="firsttime">
        <label class="form-check-label" for="firsttime">First time at Field Day?</label>
    </div>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
{{end}}