name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22

      - name: Build
        run: env GOOS=linux GOARCH=arm go build -o fieldday -v .

      - name: Test
        run: env GOOS=linux GOARCH=arm go test -v ./...

      - name: Save the binary
        uses: actions/upload-artifact@v3
        with:
          name: fieldday
          path: fieldday
